
.app-container {
  height: 100vh;
}

.app-container .logo {
  height: 32px;
  margin: 16px;
  background: rgba(255, 255, 255, 0.2);
}

.container-content {
  margin: 24px 16px;
  overflow: auto;
  padding: 24px;
}

.container-content .content-box {
  min-height: 100%;
}

.container-footer {
  text-align: center;
}
